<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>LoginApp</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>

    <div class="jumbotron">
    <div class="container">
      <h1 class="display-6"><center>LOGIN</center></h1>
      <p>If you have registered already with us login below or feel free to register with us.</p>

    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->


    <div class="header clearfix">
       <nav>
         <ul class="nav nav-pills pull-right">
           {{#if user}}
             <li role="presentation"><a href="/">Dashboard</a></li>
             <li role="presentation"><a href="/users/logout">Logout</a></li>
           {{else}}
             <li role="presentation"><a href="/users/login">Login</a></li>
             <li role="presentation"><a href="/users/register">Register</a></li>
           {{/if}}
         </ul>
       </nav>

     </div>


    <div class="row">
      <div class="col-md-4">
        <h2>Login</h2>
        <p>If you have already registerd login from below</p>
        <p><a class="btn btn-secondary" href="/users/login" role="button">Login </a></p>
      </div>
      <div class="col-md-4">
        <h2>Register</h2>
        <p>Feel free to register with us! </p>
        <p><a class="btn btn-secondary" href="/users/register" role="button">Register &raquo;</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

        {{#if success_msg}}
        <div class="alert alert-success">{{success_msg}}</div>
        {{/if}}

        {{#if error_msg}}
        <div class="alert alert-danger">{{error_msg}}</div>
        {{/if}}

        {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
        {{/if}}

        <center>{{{body}}}</center>
      </div>
    </div>


    <footer class="footer">
      <p>&copy; 2017 Waios, Inc.</p>
    </footer>


    <hr>

  </div> <!-- /container -->
  </body>
</html>
